<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <%- include("./imports.ejs") %>
</head>
<body>
    <h1>Pokedex</h1>
    
    <h2>Edit <%= pokemonInfo.name %></h2>
    <img src="<%= pokemonInfo.img %>" alt="pokemon Img">
    <form action="/pokemon/<%= id %>?_method=PUT" method="post">
        <input type="text" name="name" placeholder="name of pokemon"
        value="<%= pokemonInfo.name %>"/>
        <input type="text" name="type" placeholder="type of pokemon"
        value="<%= pokemonInfo.type %>"/>
        <input type="text" name="hp" placeholder="hp of pokemon"
        value="<%= pokemonInfo.stats.hp %>"/>
        <input type="text" name="attack" placeholder="attack of pokemon"
        value="<%= pokemonInfo.stats.attack %>"/>
        <input type="text" name="defense" placeholder="defense of pokemon"
        value="<%= pokemonInfo.stats.defense %>"/>
        <input type="submit" value="edit <%= pokemonInfo.name %>"/>
    </form>
    
</body>
</html>