<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemonInfo.name %></title>
    <%- include("./imports.ejs") %>
</head>
<body>
    <h1>Pokedex</h1>

    <h2><%= pokemonInfo.name %></h2>

    <img src="<%= pokemonInfo.img %>" alt="pokemon Img">

    <div1>
    <h3>type(s): <%= pokemonInfo.type %></h3>

    <h3>hp: <%= pokemonInfo.stats.hp %></h3>

    <h3>attack: <%= pokemonInfo.stats.attack %></h3>

    <h3>defense: <%= pokemonInfo.stats.defense %></h3>
    </div1>
    
    <div2>
    <a href="/pokemon/<%= id %>/edit"><button>Edit</button></a>

    <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
        <input class="delete_button" type="submit" value="Delete"/>
      </form>
    </div2>  
    <h3><a href="/pokemon">GO BACK TO LIST OF POKEMONS</a></h3>

</body>
</html>